<p id="notice"><%= notice %></p>

<p>
  <b>标题:</b>
  <%= @shuoshuo.title %>
</p>

<p>
  <b>内容:</b>
  <%= @shuoshuo.content %>
</p>

<!-- <p>
  <b>谁写的:</b>
  <%= @shuoshuo.user %>
</p>

<p>
  <b>照片:</b>
  <%= @shuoshuo.pic %>
</p> -->


<%= link_to '编辑', edit_shuoshuo_path(@shuoshuo) %> |
<%= link_to '返回', shuoshuos_path %>
