<%= form_for(@picture,:html=>{:multipart=>true} ) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "标题" %><br />
    <%= f.text_field :name ,size:"18"%>
  </div>
  <div class="field">
    <%= f.label "照片简介" %><br />
    <%= f.text_area :introduce ,size:"10x12"%>
  </div>
  

  <div class="field">
    <%= file_field_tag :attachment%>
  </div>


  <div class="actions">
    <%= f.submit "确定上传"%>
  </div>
<% end %>
