<div class="pic_top">
  <div class="pic_top_fei"> </div>
  <div style="  float:left;margin-top:55px;margin-left:10px;font-size:20px;">桃子今天好漂亮哦</div>
   <div style="  float:left;margin-top:55px;margin-left:100px;font-size:20px;">今天是桃子生日，当然要<br><br>漂漂亮亮的,嘻嘻</div> 
  <div class="pic_top_tao"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
             <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">照片墙</a>
             <embed src="<%= asset_path('1.mp3') %>"height=60 width=810 loop=true
      controls=playbutton title="青春纪念册"  align=center sytle="float:left"></embed>
              <span class="brand" style="margin-left:40px;"><%= link_to '上传照片', new_picture_path %></span>
              <span class="brand"><%= link_to '返回首页', root_path %></span>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>



<% @pictures.each do |picture| -%>
  <% picture.attachments.each do |attachment| -%>
  
<div class="pic">
    <div class="">
        <div class="carousel-inner">
          <div class="item active ">
            <%= image_tag attachment.attachment.url() ,:class=>"img-polaroid",size:"400x340"%>
            <div class="carousel-caption">
              <h4>
               <%= picture.name %>
              </h4>
              <p>
               <%= picture.introduce %>
               <div style="margin-left:5px;float:left">
               <%= link_to '编辑', edit_picture_path(picture),class:"btn btn-primary" %></div>
               <div style="margin-left:260px;float:left">
               <%= link_to '删除', picture, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
             </div>
              </div>
              
              </p>
            </div>
          </div>
        </div>
    </div>   
</div>

<% end -%>
<% end -%>
<div style="margin-left:500px;margin-top:50px">
 <%= will_paginate @pictures  ,:prev_label=>'Previous',:next_label=>'Next→',:separator=>" | "%>
 </div>
 <br>


<!-- <h1>Listing pictures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Introduce</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.name %></td>
    <td><%= picture.introduce %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Picture', new_picture_path %> -->
