<p id="notice"><%= notice %></p>

<p>
  <b>照片标题</b>
  <%= @picture.name %>
</p>


<p>
  <b>照片介绍</b>
  <%= @picture.introduce %>
</p>


<%= link_to '编辑', edit_picture_path(@picture) %> |
<%= link_to '返回', pictures_path %>
